@import "../common/colors.css";

#TituloCursos{
    background-color: var(--light-green-custom) !important;
    padding: 30px 0;
    border-radius:30px;
    border-top:0;
    box-shadow:10px 15px 15px 5px var(--shadow-color);
}

.courseFilterInput{
    background-color: var(--light-green-custom);
    color:black;
    padding: 10px;
    border-radius: 10px;
    border: 15px solid var(--light-green-custom);
    box-shadow:4px 6px 6px 2px var(--shadow-color);
    
}