.cardButton{
    background-color: var(--purple-custom);
    border-color:'#001F3D';
    font-weight: 'bold';
    border: 0;
    color:white;
    border-radius: 15px;
}

.cardButton:hover{
    background-color: var(--blue-custom);
}