:root{
    --dark-green-custom: rgb(51, 110, 123);
    --light-blue-custom: #BBD4FA;
    --light-green-custom: #BBFAE5;
    --light-pink-custom: #FACCBB;
    --blue-custom: rgb(19, 153, 213);
    --purple-custom: #5769FF;
    --shadow-color: #999999;
}