:root{
    --light-blue-custom: #A2CADF;
    --dark-green-custom: rgb(51, 110, 123);
    --blue-custom: rgb(19, 153, 213);
}

#usersTable{
    background-color: var(--light-blue-custom) !important;
    padding: 0;
    margin: 0;
}


.centered_content{
    text-align: center;
}

#tableDiv{
    border-radius: 0.75rem;
    padding: 10px;
    background-color: var(--light-blue-custom);
}

.btn-primary{
    background-color: var(--blue-custom);
    border-color: var(--blue-custom);
}