@import "../common/colors.css";

#usersTable{
    background-color: var(--light-blue-custom) !important;
    padding: 0;
    margin: 0;
}


.centered_content{
    text-align: center;
}

#tableDiv{
    border-radius: 0.75rem;
    padding: 10px;
    background-color: var(--light-blue-custom);
    box-shadow:10px 15px 15px 5px var(--shadow-color);
}

.btn-primary{
    background-color: var(--purple-custom) !important;
    font-weight: 'bold';
    border: 0;
    color:white;
    border-radius: 15px;
}

.btn-primary:hover{
    background-color: var(--blue-custom) !important;
}


#TituloUsuarios{
    background-color: var(--light-blue-custom) !important;
    margin: 25%;
    padding: 30px 10px;
    border-radius:30px;
    border-top:0;
    box-shadow:10px 15px 15px 5px var(--shadow-color);
    position: relative; /* */
    z-index: 10;
}